.authPage__logo {
    position: relative;
    right: 2.5%;
    object-fit: cover;
    max-height: 40%;
    display: block;
    margin: auto;
}

.authPage__form {
    margin: auto;
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin-top: 20px;
}

.authPage__form--bottom {
    margin-bottom: 50px;
}

.authPage__button--left {
    margin-left: 10%;
}

.authPage__button--right {
    margin-left: 20%;
}

.authPage__button--validation {
    margin-left: 35%;
}

@media (min-width: 480px) and (max-width: 900px) {
    .authPage__logo {
        max-height: 500px;
    }
    .authPage__button--left {
        margin-left: 24%;
    }    
    .authPage__button--validation {
        margin-left: 43.5%;
    }
}

@media (min-width: 901px) {
    .authPage__logo {
        max-height: 350px;
    }
    .authPage__button--left {
        margin-left: 35%;
    }    
    .authPage__button--right{
        margin-left: 15%;
    }
    .authPage__button--validation {
        margin-left: 46%;
    }
    .authPage__form {
        width: 40%;
    }
}