@font-face {
  font-family: "Lato";
  src: url("../assets/police/Lato-Regular.ttf");
}

body {
  margin: 0;
  font-family: "Lato";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button__default {
  display: inline-block;
  padding: 20px;
  background-color: #FFD7D7;
  border-radius: 200px;
  cursor: pointer;
  color: black;
}

.button__default--active {
  display: inline-block;
  padding: 20px;
  background-color: #FD2D01;
  border-radius: 200px;
  cursor: pointer;
  color: white;
}

.button__validation {
  border-style: none;
  background-color: #4e5166;
  color: white;
  border-radius: 200px;
  padding: 20px;
  cursor: pointer;
}
