.profile__localisation {
    margin-left: 25%;
}

.errorMsg {
    margin-left:24%;
    color: red;
}

.profile__form {
    margin: auto;
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-top: 20px;
}

.profile__form--picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.profile__picture {
    margin-top: 20px;
    object-fit: cover;
    width: 80%;
    display: block;
    margin-bottom: 40px;
}

.profile__button {
    margin-left: 27%;
}

@media (min-width: 480px) and (max-width: 900px) {
    .profile__localisation {
        margin-left: 37%;
    }
    .errorMsg {
        margin-left:36%;
    }
    .profile__form{
        width: 40%;
    }
    .profile__button {
        margin-left: 38%;
    }
}

@media (min-width: 901px) and (max-width: 1200px) {
    .profile__localisation {
        margin-left: 43%;
    }
    .errorMsg {
        margin-left:42%;
    }
    .profile__form {
        width: 40%;
    }
    .profile__picture {
        width: 35%;
    }
    .profile__button {
        margin-left: 43.8%;
    }
}

@media (min-width: 1201px) {
    .profile__localisation {
        margin-left: 45%;
    }
    .errorMsg {
        margin-left:44%;
    }
    .profile__form {
        width: 25%;
    }
    .profile__picture {
        width: 25%;
    }
    .profile__button {
        margin-left: 45.5%;
    }
}